@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Noto Sans JP";
	src: url("Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}
* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: "Noto Sans JP", sans-serif;
}
html, body {
	overflow: hidden;
}
#wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding: 50px;
}
#title {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
}
#touch_instruction {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	text-align: center;
}
#matching_instruction, #memorizing_instruction {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3rem;
	text-align: center;
	line-height: 2;
}
#start_matching, #start_memorizing {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	font-size: 4rem;
	color: #ffffff;
	background-color: #333333;
	border-radius: 10px;
	padding: 15px 30px;
}
#countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10rem;
	font-weight: bold;
	color: #333333;
}
.color-square {
	width: 200px;
	height: 200px;
}
#color_shown {
	position: absolute;
	transform: translate(-50%, -50%);
}
#color_wheel {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#color_answered {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#next, #end {
	position: absolute;
	top: 70%;
	left: 80%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	width: 260px;
	font-size: 4rem;
	color: #ffffff;
	background-color: #333333;
	border-radius: 10px;
	padding: 15px 30px;
}
#start_matching:active, #start_memorizing:active,
#next:active, #end:active {
	background-color: #888888;
}
#result {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
#result table {
	font-size: 3rem;
	margin: 0 auto;
}
#result table:not(:last-child) {
	margin-bottom: 50px;
}
#result table caption {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 30px;
}
#result table thead {
	border-bottom: 5px double #333333;
	background-color: #cccccc;
}
#result table tbody tr:not(:last-child) {
	border-bottom: 1px solid #333333;
}
#result table th,
#result table td {
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}
#result table th {
	font-weight: bold;
}
#result table .color-square {
	margin: 0 auto;
}